* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgb(247, 189, 189);
  border: 1px solid black;
  min-height: 30px;
}
.d-flex {
  display: flex;
}

.active {
  text-decoration: underline;
  text-decoration-color: #acff2e;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: white;
}
.btn {
  padding: 13px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  border-radius: 40px;
}
.btn:hover {
  scale: 1.05;
  cursor: pointer;
}

/* MAIN SECTION *********** */
main {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}
/* sidebar ****** */
main .sidebar {
  width: 230px;
  height: calc(100vh - 90px);
  flex-direction: column;
  background-color: black;
  color: #8a8d91;
  min-height: 550px;
}
.aside-top {
  width: 100%;
  height: calc(100% - 90px);
  padding-top: 15px;
}
main .sidebar .aside-down {
  width: 100%;
  height: 90px;
  align-self: flex-end;
  padding: 20px;
  background-color: black;
}
main .sidebar .aside-down hr {
  width: 70%;
  margin: 10px 0;
}
main .sidebar .aside-down span:hover {
  color: white;
}

main .sidebar .home {
  width: 100%;
}
main .sidebar .home .logo {
  width: 100%;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}
main .sidebar .home .logo span:first-child {
  font-size: 2.5rem;
  margin-right: 10px;
  color: white;
}
main .sidebar .home .logo span:last-child {
  font-size: 2rem;
  color: white;
}
main .sidebar .home .cerca {
  width: 100%;
  line-height: 2.1;
}
main .sidebar .home .cerca span {
  display: block;
  margin-left: 20px;
}
main .sidebar .home .cerca span:hover {
  color: white;
}
main .sidebar .home .cerca span:first-child {
  color: rgb(212, 209, 209);
  margin-left: 0;
  padding-left: 18px;
  border-left: 3px solid greenyellow;
}
main .sidebar .home .cerca span:first-child:hover {
  color: white;
}

main .sidebar .home .cerca span i {
  font-size: 1.2rem;
  font-weight: bold;
}

main .sidebar .playlist {
  width: 100%;
  padding: 20px 0 0 20px;
  flex-direction: column;
}
main .sidebar .playlist h4 {
  color: white;
}

main .sidebar .playlist .p-list .crea {
  padding-top: 15px;
  padding-left: 5px;
}
main .sidebar .playlist .p-list:hover .plus,
main .sidebar .playlist .p-list:hover .crea {
  color: white;
}
main .sidebar .name-playlist {
  width: 100%;
  height: 61%;
  padding: 20px;
  overflow: auto;
}

main .sidebar .name-playlist ul {
  list-style: none;
  flex-direction: column;
  line-height: 2.5;
}
main .sidebar .name-playlist ul a {
  text-decoration: none;
  color: #8a8d91;
}
main .sidebar .name-playlist ul a:hover {
  color: white;
}

main .sidebar .playlist h4 {
  margin-bottom: 20px;
}
main .sidebar .playlist .plus {
  height: 50px;
  font-size: 2.8rem;
  color: rgb(212, 209, 209);
}

main .sidebar .playlist .crea {
  height: 50px;
}

/* songs part ***** */
main .songs {
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  overflow: auto;
  background-color: #141922;
}
/* nav fixed ** */
main .songs .nav-fix {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: end;
  align-items: center;
  padding-right: 25px;
}

/* navbar ****** */
main .songs .navbar {
  width: 100%;
  height: 50px;
  margin-top: 90px;
  background-color: #141922;
  justify-content: center;
  position: sticky;
  top: 90px;
  z-index: 999;
}
main .songs .links {
  align-items: center;
  height: 50px;
  position: relative;
  padding: 10px;
}
main .songs .navbar .links ul {
  list-style: none;
  width: 660px;
  flex-wrap: wrap;
}
main .songs .navbar .links ul li {
  margin-right: 30px;
}

main .songs .navbar .links ul li a {
  color: #8a8d91;
  text-decoration: none;
  font-size: 0.8rem;
}
main .songs .navbar .links ul li a:hover {
  color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
main .songs .navbar .links .mini-dash {
  width: 35px;
  height: 3px;
  background-color: yellowgreen;
  position: absolute;
  left: 23px;
  bottom: 10px;
}
/* MAIN MUSIC PART ***** */
.main-music {
  color: white;
  padding-right: 20px;
}
.main-music h1 {
  font-size: 1.7rem;
  margin-left: 20px;
}
.main-music .creato h6,
.main-music .popolari h6 {
  color: #8a8d91;
  margin-top: 10px;
  margin-left: 20px;
}
.main-music .row {
  margin-top: 30px;
  margin-left: 15px;
  flex-wrap: wrap;
}
.main-music .row .col {
  flex-basis: calc(100% / 6);
  padding: 8px;
}

.main-music .row .col .card .album-photo {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-music .row .col .card .album-photo .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.main-music .popolari .album-photo .overlay {
  border-radius: 50%;
  display: none;
}
.main-music .row .col .card .album-photo:hover .overlay {
  display: block;
}
.main-music .row .col .card .album-photo span {
  font-size: 3.8rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-music .row .col .card .album-photo:hover span {
  display: block;
  cursor: pointer;
}
.main-music .row .col .card .album-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-music .popolari .album-photo img {
  border-radius: 50%;
}

.main-music .row .col .card .album-name {
  text-align: center;
  padding: 20px 0;
}
.main-music .row .col .card .album-name h5 {
  margin-top: 20px;
  color: #6e7176;
}
/* PALYER SECTION *********** */
.player {
  width: 100%;
  height: 90px;
  justify-content: space-between;
  color: white;
  background-color: #282828;
}
.player .brano,
.player .vol {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.player .brano .copertina {
  width: 50px;
  height: 50px;
}
.player .brano .copertina img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player .brano .brano-name {
  width: 100px;
  height: 50px;
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
}
.player .brano .brano-name span {
  font-size: 0.9rem;
  color: #8a8d91;
}
.player .brano .brano-name span:hover {
  color: white;
  text-decoration: underline;
}
.player .brano .brano-like {
  width: 100px;
  height: 50px;
  text-align: end;
  padding-right: 10px;
  padding-top: 16px;
}
.player .brano .brano-like span {
  margin-left: 7px;
  color: #8a8d91;
}
.player .brano .brano-like span:hover {
  color: white;
}
/* controls of player  */
.player .controls {
  width: 60%;
  height: 100%;
  min-width: 10%;
}
.player .controls .tasti,
.player .controls .play-bar {
  width: 100%;
  height: 50%;
}
.player .controls .tasti {
  text-align: center;
  padding-top: 10px;
}
.player .controls .tasti span {
  margin-right: 20px;
  font-size: 1.1rem;
}
.player .controls .tasti span i:hover {
  scale: 1.1;
}
.player .controls .tasti span:nth-child(3) {
  padding: 10px;
  font-size: 2rem;
}
.player .controls .tasti span:nth-child(3) i:hover {
  scale: 1.4;
}
.player .controls .play-bar {
  justify-content: center;
  margin-top: 10px;
}
.player .controls .play-bar .play-barra {
  width: 60%;
  height: 4px;
  border-radius: 2px;
  background-color: gray;
  margin: 7px 20px;
}
.player .controls .play-bar .play-barra .barra-progress {
  width: 30%;
  height: 100%;
  background-color: #c5c6c8;
  justify-content: flex-end;
  align-items: center;
}
.player .controls .play-bar .pallina {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  display: none;
}
.player .controls .play-bar:hover .pallina {
  display: block;
}

.player .controls .play-bar:hover .barra-progress {
  background-color: #acff2e;
}

/* volume of player  */

.player .vol {
  width: 300px;
  height: 100%;
}

.player .vol .vol-bar {
  width: 150px;
  height: 100%;
  padding-top: 22px;
}
.player .vol .vol-key {
  width: 150px;
  height: 100%;
  padding-top: 17px;
  padding-left: 20px;
}
.player .vol .vol-key span {
  margin-right: 15px;
  font-size: 0.9rem;
}
.player .vol .vol-key span i:hover {
  scale: 1.1;
}
.player .vol .vol-bar .barra {
  width: 100%;
  height: 4px;
  margin: auto;
  border-radius: 2px;
  background-color: gray;
}
.player .vol .vol-bar .bar-progress {
  width: 30%;
  height: 100%;
  background-color: #c5c6c8;
  justify-content: flex-end;
  align-items: center;
}
.player .vol .vol-bar:hover .bar-progress {
  background-color: #acff2e;
}
.player .vol .vol-bar .ball {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  display: none;
}
.player .vol .vol-bar:hover .ball {
  display: block;
}

/* *******************************************
 MEDIA QUERY FOR Spotify-"MD" 1100px 
 ****************************************** */
@media screen and (max-width: 1100px) {
  .main-music .row {
    flex-wrap: wrap;
  }
  .main-music .row .col {
    flex-basis: calc(100% / 4);
  }
  main .songs .navbar .links ul {
    width: 805px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .songs .navbar .links ul li {
    margin-right: 70px;
  }
  main .songs .navbar .links ul li a {
    font-size: 0.8rem;
  }
  main .songs .navbar .links .mini-dash {
    top: 28px;
    left: 36px;
  }
}

/* *******************************************
 MEDIA QUERY FOR Spotify-"S" 700px 
 ****************************************** */
@media screen and (max-width: 700px) {
}
